/* @import url("https://fonts.google.com/specimen/Kumbh+Sans");  */
* {
  margin: 0px;
  padding: 0px;
  
}

.body {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: hsl(185, 75%, 39%); 

}

.container { 
  background-color: hsl(185, 75%, 39%); 
  /* width:100%; */
  position: relative;
}

.light {
  font-weight: light;
  color: rgba(16, 15, 15, 0.694)
}
.attribution { 
  font-size: 11px; text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.Likes {
  /* margin-right: 30%; */
  padding-left: 25%;
  padding-right: 25%;
}

.picture {
  border-radius: 50%; 
  margin-bottom:50px;
  border: 10px solid white;
  align-self: center;
  padding:5px;
  margin-top: 50px;

}

.card {
  background-color: white; 
  margin-bottom: 80px;
  margin-left: 35%;
  margin-top: 15%;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "IBM Plex Sans KR";
}

.main-Heading {
  background-image:linear-gradient(turquoise, hsl(230, 50%, 53%));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom:50px;
  height: 100px;
  text-align: center;
}

.subHeading {
  display: flex;
  flex-direction: row;
  margin: 50px;
  justify-content: center;
  padding-top: 30%;
  font-size: 18px;
  /* background-image: linear-gradient(turquoise, hsl(230, 50%, 53%)); */
}
    