* {
  margin: 0 px;
  padding: 0px;
}

.body {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
background-color: hsl(185, 75%, 39%); 
}

.container { 
background-color: hsl(185, 75%, 39%); 
width:100%;
position: relative;
}
.attribution { 
font-size: 11px; text-align: center;
}
.attribution a { 
color: hsl(228, 45%, 44%); 
}

.Followers {
    margin-left:25%;
    float: left;
  }

.Likes {
  margin-right: 30%;
  float: right
}
.Photos {
    align-content: center;
    float:none;
  }

.card {
background-color: white;
margin: auto; 
width:25%;
height: 300px;
border: 1px solid black;
border-radius: 5px;
}
    